@import "src/styles";

#columnListContainer{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    .columListBox{
        display: flex;
        justify-content: space-around;
        width: 80%;
        .columns{
            width: 270px;
            height: 300px;
        }
        .column-1{
            background-color: #DFEDF8;
            ul{
                list-style: none;
                margin-bottom: 0px;
                margin-top: 0px;
                display: flex;
                justify-content: center;
                padding-left: 0px;
                font-family: $font-number-2;
                color: $primary-font-color;
                font-size: $font-size-small;
                font-weight: $font-number-2-light;
            }
        }
        .column-2{
            background-color: #F16464;
            ul{
                list-style: none;
                margin-bottom: 0px;
                margin-top: 0px;
                display: flex;
                justify-content: center;
                padding-left: 0px;
                font-family: $font-number-2;
                color: $primary-font-color;
                font-size: $font-size-small;
                font-weight: $font-number-2-light;
            }
        }
        .column-3{
            background-color: #89C4EA;
            ul{
                list-style: none;
                margin-bottom: 0px;
                margin-top: 0px;
                display: flex;
                justify-content: center;
                padding-left: 0px;
                font-family: $font-number-2;
                color: $primary-font-color;
                font-size: $font-size-small;
                font-weight: $font-number-2-light;
            }
        }
    }
}

// Mobil
@media screen and (max-width: 767px){
    #columnListContainer{
        display: flex;
        justify-content: center;
        height: 100%;
        .columListBox{
            flex-direction: column;
            width: auto;
            .columns{
                margin-top: 20px;
                width: 300px;
            }
        }
    }
}