<div id="rightBannerContainer">
    <div class="interContainer">
        <div class="imageContainer">
            <img src="{{imageURL}}" alt="{{imageALT}}">
        </div>
        <div class="textContainer">
            <ul>
                <li>Responsive (Mobil/Tablet/Desktop) web designs</li>
                <li>Front-end web development</li>
                <li>Back-end web development</li>
                <li>Content management</li>
                <li>Image editing</li>
            </ul>
        </div>
    </div>
</div>
