#heroBanner{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    .heroImage{
        width: 45%;
        height: 450px;
        border: 2px #2c2c2c solid;
    }
    .heroTextContainerHome{
        width: 45%;
        height: 450px;
        background-color: aqua;
    }
    .heroTextContainerContact{
        width: 45%;
        height: 450px;
        background-color: green;
    }
}