@import "src/styles";

#heroBanner{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 40px;
    .heroImage{
        width: 45%;
        height: 450px;
        img{
            width: 100%;
            height: 450px;
        }
    }
    .heroTextContainer{
        width: 45%;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .heroText{
            text-align: left;
            margin-left: 40px;
            margin-right: 40px;
        }
        h1{
            font-family: $font-number-2;
            font-weight: $font-number-2-strong;
        }
        h4{
            margin: 0;
            font-family: $font-number-2;
            font-weight: $font-number-2-light;
           
        }
        a{
            text-decoration: none;
            color: white;
        }
    }
    .heroRightTextContainerHome{
        background-color: #67B8DE;
        color: white;
    }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 1080px){
    #heroBanner{
        .heroImage{
            width: 100%;
        }
        .heroTextContainer{
            width: 100%;
            h1{
                font-size: 30px;
            }
            h4{
                font-size: 15px;
            }
        }
    }

}

// Mobil
@media screen and (max-width: 767px){
    #heroBanner{
        flex-direction: column;
        height: 100%;
        margin-top: 40px;
        .heroImage{
            width: 100%;
        }
        .heroTextContainer{
            width: 100%;
            height: 300px;
        }    
    }
}