<div id="formOuterContainer">
    <div [hidden]="submitted" class="formInterContainer">
        <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="formContent">
                
            <!-- Name -->
            <label for="name">Full Name*: </label>
            <input type="text" id="name" required [(ngModel)]="model.name" name="name" class="ng-untouched ng-pristine ng-valid" #name="ngModel">
            <!-- Error Message -->
            <div [hidden]="name.valid || name.pristine" class="formError">
                *Full Name is required
            </div>
            <br/>
            <!-- Email -->
            <label for="email">Email*: </label>
            <input type="text" id="email" required [(ngModel)]="model.email" name="email" class="ng-untouched ng-pristine ng-valid" #email="ngModel">
            <!-- Error Message -->
            <div [hidden]="email.valid || email.pristine" class="formError">
                    *Email is required
                </div>
                <br/>
            <!-- Phone -->
            <label for="phone">Phone #*: </label>
            <input type="number" id="phone" required [(ngModel)]="model.phone" name="phone" class="ng-untouched ng-pristine ng-valid" #phone="ngModel">
            <!-- Error Message -->
            <div [hidden]="phone.valid || phone.pristine" class="formError">
                *Phone # is required
            </div>
            <br/>
            <!-- Company Name -->
            <label for="companyName">Company Name: </label>
            <input type="text" id="companyName" [(ngModel)]="model.companyName" name="companyName">
            <br/>
            <br/>
            <!-- Description -->
            <label for="description">Description*: </label>
            <br/>
            <br/>
            <textarea type="text" id="description" required [(ngModel)]="model.description" name="description" class="ng-untouched ng-pristine ng-valid" #description="ngModel"></textarea>
            <!-- Error Message -->
            <div [hidden]="description.valid || description.pristine" class="formError">
                *Description is required
            </div>
            <div class="formButtonContainer">
                <button type="submit" [disabled]="!userForm.form.valid" class="formButton2">Submit</button>
            </div>
                
        </form>

    </div>
    <!-- Succeful Message -->
    <div class="formSubmittedContainer" [hidden]="!submitted">
        <h2>Thank you for your message.</h2>
        <h3>We will reach out soon!</h3>
        <p>Details:</p>
        <p>Name: {{model.name}}</p>
        <p>Email: {{model.email}}</p>
        <p>Phone #: {{model.phone}}</p>
    </div>
    
    
</div>

