<app-titlecomponent [titleText]="project_2_title"></app-titlecomponent>
<app-full-widht-banner [imgSRC]="project_2_imageSRC" [imgALT]="project_2_imageALT"></app-full-widht-banner>
<app-paragraph [paragraphText]="project_2_paragraph1" [paragraphText2]="project_2_paragraph2"></app-paragraph>
<app-titlecomponent [titleClassName]="lowTitleDataClass" [titleText]="project_2_listTitle"></app-titlecomponent>
<app-column-list [devList]="devList" [databaseList]="databaseList" [toolsList]="toolsList"></app-column-list>
<div class="buttonLink">
    <p><a href="https://www.momentumcentergh.org/momentum-center-membership-application" target="_blank">Visit Momentum Center Portal →</a></p>
</div>