@import "src/styles";

#paragraphContainer{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    .paragraphInterContainer{
        width: 80%;
        p{
            color: $primary-font-color;
            font-family: $font-number-2;
            font-weight: $font-number-2-light;
            font-size: $font-size-medium;
            
        }

    }
}