<footer>
    <div class="NavLogo">
        <p>EscaleSite </p>
    </div>
    <div class="FooterMenuList">
        <div class="FooterResources">
            <p><u>RESOURCES</u></p>
            <p><a routerLink="/about-us">About →</a></p>
            <p><a routerLink="/portfolio">Portfolio →</a></p>
        </div>
        <div class="HelpFooter">
            <p><u>HELP</u></p>
            <p><a routerLink="/contact-us">Contac us →</a></p>
        </div>
        <div class="SocialFooter">
                <p><u>Social</u></p>
                <p>Facebook →</p>
                <p>Instagram →</p>
                <p>LinkedIn →</p>
        </div>

    </div>
    <div class="FooterPageRights">
        <p><strong>EscaleSite</strong> all rights reserved 2022</p>
    </div>
    
</footer>
