@import "src/styles";
a{
    text-decoration: none;
    color: white;
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
}
footer{
    margin-top: 40px;
    width: 100%;
    background-color: $primary-background-color;
    .NavLogo{
        font-family: $font-number-2;
        color: white;
        font-size: $font-size-medium;
        font-weight: $font-number-2-strong;
        padding-top: 1px;
        padding-left: 10px;
    }
    .FooterMenuList{
        // border: 2px solid white;
        width: 800px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        .FooterResources{
            // border: 2px solid white;
            width: 200px;
            p{
                color: white;
                font-family: $font-number-2;
                font-size: $font-size-small;
                font-weight: $font-number-2-light;
            }
        }
        .HelpFooter{
            // border: 2px solid white;
            width: 200px;
            p{
                color: white;
                font-family: $font-number-2;
                font-size: $font-size-small;
                font-weight: $font-number-2-light;
            }
        }
        .SocialFooter{
            width: 280px;
            p{
                color: white;
                font-family: $font-number-2;
                font-size: $font-size-small;
                font-weight: $font-number-2-light;
            }
        }
    }
    .FooterPageRights{
        color: white;
        font-family: $font-number-2;
        font-size: $font-size-small;
        font-weight: $font-number-2-light;
        display: flex;
        justify-content: center;
    }
}

// Mobil
@media screen and (max-width: 767px){
    footer{
        .FooterMenuList{
            width: auto;
            flex-direction: column;
            padding-left: 10px;
        }
    }
}