<!-- Global Navigation-->
<div id="GlobalNav">
  <div class="NavLogo">
    <p>EscaleSite </p>
  </div>
  <div class="NavLinks">
      <p><a routerLink="/home-page" routerLinkActive="active-link">Home</a></p>
      <p><a routerLink="/about-us" routerLinkActive="active-link">About</a></p>
      <p><a routerLink="/portfolio" routerLinkActive="active-link">Portfolio</a></p>
      <p><a routerLink="/contact-us" routerLinkActive="active-link">Contact</a></p>
  </div>
</div>

<!-- End Global Navigation-->



<router-outlet></router-outlet>