@import "src/styles";

#GlobalNav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #2c2c2c solid;
    .NavLogo{
        color: $primary-font-color;
        padding-left: 20px;
    }
    .NavLinks{
        color: $primary-font-color;
        display: flex;
        font-family: $font-number-2;
        font-weight: $font-number-2-light;
        p{
            padding-left: 20px;
            padding-right: 20px;
           
            a{
                text-decoration: none;
                color: $primary-font-color;
                transition: all 0.25s linear;
                position: relative;
            }
            a:before {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: $primary-font-color;
                position: absolute;
                left: 0;
                bottom: -3px; /* this is to match where the border is */
                transform-origin: center; 
                transform: scale(0);
                transition: 0.25s linear;
              /*   will-change: transform; */
            }
            a:hover:before{
                transform: scale(1);
              }
           
            a.active-link{
                border-bottom: 1px solid $primary-font-color;
            }
        }
       

    }
}