<!-- Global Navigation-->
<div id="GlobalNav">
  <div class="NavLogo">
    <p>EscaleSite </p>
  </div>
  <div class="NavLinks">
      <p><a routerLink="/home-page" routerLinkActive="active-link">Home</a></p>
      <p><a routerLink="/about-us" routerLinkActive="active-link">About</a></p>
      <p><a routerLink="/portfolio" routerLinkActive="active-link">Portfolio</a></p>
      <p><a routerLink="/contact-us" routerLinkActive="active-link">Contact</a></p>
  </div>
</div>

<!-- End Global Navigation-->

<!-- Globak Navigation Mobil -->
<div id="GlobalNavMobil">
    <div  (click)="changeState()" (click)="onClick()" class="NavBurgerIconMobil">
        <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'topX'"></div>
        <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'hide'"></div>
        <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'bottomX'"></div>
    </div>
    <!-- <div class="NavLogoMobil">
      <p>EscaleSite </p>
    </div> -->
    <div [@slideIn]="slideInState ? 'in' : 'out'" class="NavLinksMobil">
        <p><a (click)="changeState()" (click)="onClick()" routerLink="/home-page" routerLinkActive="active-link">Home</a></p>
        <p><a (click)="changeState()" (click)="onClick()" routerLink="/about-us" routerLinkActive="active-link">About</a></p>
        <p><a (click)="changeState()" (click)="onClick()" routerLink="/portfolio" routerLinkActive="active-link">Portfolio</a></p>
        <p><a (click)="changeState()" (click)="onClick()" routerLink="/contact-us" routerLinkActive="active-link">Contact</a></p>
    </div>
  </div>
<!-- End Global Navigation Mobil -->


<router-outlet></router-outlet>