@import "src/styles";

#GlobalNav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #2c2c2c solid;
    .NavLogo{
        color: $primary-font-color;
        padding-left: 20px;
    }
    .NavLinks{
        color: $primary-font-color;
        display: flex;
        font-family: $font-number-2;
        p{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}