@import "src/styles";

#GlobalNavMobil{
    display: none;
}

#GlobalNav{
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: white;
    -webkit-box-shadow: 0 8px 6px -6px #0000005e;
	   -moz-box-shadow: 0 8px 6px -6px #0000005e;
	        box-shadow: 0 8px 6px -6px #0000005e;
    .NavLogo{
        color: $primary-font-color;
        padding-left: 20px;
        font-family: $font-number-2;
        font-weight: $font-number-2-strong;
    }
    .NavLinks{
        color: $primary-font-color;
        display: flex;
        font-family: $font-number-2;
        font-weight: $font-number-2-light;
        p{
            padding-left: 20px;
            padding-right: 20px;
           
            a{
                text-decoration: none;
                color: $primary-font-color;
                transition: all 0.25s linear;
                position: relative;
            }
            a:before {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: $primary-font-color;
                position: absolute;
                left: 0;
                bottom: -3px; /* this is to match where the border is */
                transform-origin: center; 
                transform: scale(0);
                transition: 0.25s linear;
              /*   will-change: transform; */
            }
            a:hover:before{
                transform: scale(1);
              }
           
            a.active-link{
                border-bottom: 1px solid $primary-font-color;
            }
        }
       

    }
}
#pageBodyComponents{
    min-height: 1000px;
}
// Mobil
@media screen and (max-width: 767px){
    #GlobalNav{
        display: none;
    }
    #GlobalNavMobil{
        display: flex;
        flex-direction: column;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        height: 50px;
        background-color: white;
        
        opacity: 1;
        -webkit-box-shadow: 0 8px 6px -6px #0000005e;
        -moz-box-shadow: 0 8px 6px -6px #0000005e;
        box-shadow: 0 8px 6px -6px #0000005e;
        .NavBurgerIconMobil{
            display: inline-block;
           
            cursor: pointer;
            padding-left: 10px;
            margin-top: 18px;
            background-color: white;
            .icon-bar{
                width: 30px;
                height: 3px;
                background: $primary-font-color;
                margin: 3px;
                position: relative;
                
            }
           
        }
        .NavLogoMobil{
            width: 100%;
        }
        .NavLinksMobil{
            display: flex;
            width: 100%;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            background-color: white;
            z-index: -1;
            p{
                font-family: $font-number-2;
                font-weight: $font-number-2-strong;
            }
            a{
                text-decoration: none;
                color: $primary-font-color;
                position: relative;
            }
            a.active-link{
                color: $link-font-color;
            }
        }
    }
}