
<app-herobanner [heroImage]="heroImageUrl" [heroTextContainerClass]="currentheroTextContainerClass" [maintText]="currentMainText" [subText]="currentSubText" ></app-herobanner>

<app-paragraph [paragraphText]="mainText"></app-paragraph>

<app-button [buttonData]="buttonText"></app-button>

<div id="roundrecContainer">
     <app-roundrec [imageUrl]="roundrecLeftImageUrl" [className]="roundrecLeftClass" [text]="roundrecLeftText" [textLink]="roundrecLeftTextLink" [link]="roundrecLeftLinkUrl"></app-roundrec>
     <app-roundrec [imageUrl]="roundrecRightImageUrl" [className]="roundrecRightClass" [text]="roundrecRightText" [textLink]="roundrecRightTextLink" [link]="roundrecRightLinkUrl"></app-roundrec>
</div>



<app-herobanner-r [heroImage]="heroRightImageUrl" [heroTextContainerClass]="currentheroRightTextContainerClass" [maintText]="currentMainTextRight" [subText]="currentSubTextRight" [textUrl]="currentTextUrlRight"></app-herobanner-r>