
<app-herobanner [heroImage]="heroImageUrl" [heroTextContainerClass]="currentheroTextContainerClass" [maintText]="currentMainText" [subText]="currentSubText" ></app-herobanner>

<app-paragraph [paragraphText]="mainText"></app-paragraph>

<app-button [buttonData]="buttonText"></app-button>

<div id="roundrecContainer">
     <app-roundrec></app-roundrec>
     <app-roundrec></app-roundrec>
</div>



<app-herobanner-r [heroImage]="heroRightImageUrl" [heroTextContainerClass]="currentheroRightTextContainerClass" [maintText]="currentMainTextRight" [subText]="currentSubTextRight" ></app-herobanner-r>