<app-titlecomponent [titleText]="titleData"></app-titlecomponent>
<app-full-widht-banner [imgSRC]="imageSRC" [imgALT]="imageALT"></app-full-widht-banner>
<app-paragraph [paragraphText]="mainText" [paragraphText2]="mainText2"></app-paragraph>
<app-titlecomponent [titleClassName]="lowTitleDataClass" [titleText]="lowTitleData"></app-titlecomponent>
<app-column-list [devList]="devList" [databaseList]="databaseList" [toolsList]="toolsList"></app-column-list>

<div class="buttonLink">
    <p><a href="https://www.blackbirdhomesgr.com/home" target="_blank">Visit BlackBirdHomes GR →</a></p>
</div>
