@import "src/styles";

#roundrecItem{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 5px 10px 18px #888888;
    .roundrecImageContainer{
       
        width: 350px;
        height: 300px;
        img{
            width: 100%;
            height: 300px;
        }
    }
    .roundrecTextContainer{
        width: 350px;
        height: 150px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        h4{
            font-family: $font-number-2;
            font-weight: $font-number-2-strong;
            margin-left: 25px;
            margin-right: 25px;
            color: $primary-font-color;
        }
        p{
            font-family: $font-number-2;
            font-weight: $font-number-2-light;
            margin-left: 25px;
            margin-right: 25px;
        }
        a{
            text-decoration: underline;
            color: $primary-font-color;
        }
    }
    .roundrecLeftClass{
        background-color: #FCBF43;
    }
    .roundrecRightClass{
        background-color: #5FD4F0;
    }
}