#fullWidthBannerContainer{
    width: 100%;
    height: 390px;
    display: flex;
    justify-content: center;
    .bannerInterContainer{
        height: 390px;
        width: 80%;
        display: flex;
        justify-content: center;
        img{
            width: 400px;
            height: 390px;
        }
    }
}