@import "src/styles";

p{
    font-family: $font-number-2;
    font-weight: $font-number-2-strong;
    font-size: $font-size-large;
    color: $primary-font-color;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;

}
.columnsTitle{
    margin-top: 15px;
    font-size: $font-size-medium;
}