// Global Variables 
$primary-font-color: #2c2c2c;
$font-number-2: 'Montserrat', sans-serif;
$font-number-2-strong: 700;
$font-number-2-light: 400;
$link-font-color: #67B8DE;
$font-size-small: 18px;
$font-size-medium: 21px;
$font-size-large: 30px;


body{
    max-width: 1100px;
    margin: 0 auto !important;
}
// Tablet
@media screen and (min-width: 768px) and (max-width: 1080px){
    body{
        max-width: 100%;
    }
}
// Mobil
@media screen and (max-width: 767px){
    body{
        max-width: 100%;
    }
}