// Global Variables 
$primary-font-color: #2c2c2c;
$font-number-2: 'Montserrat', sans-serif;
$font-number-2-strong: 700;
$font-number-2-light: 400;
$link-font-color: #67B8DE;


body{
    max-width: 1300px;
    margin: 0 auto !important;
}